@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.blog-posts {
  width: 80%;
  margin: 10% auto;

  .title {
    text-align: center;
  }

  .posts-wrapper {
    margin-top: 50px;

    .post {
      width: 100%;
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      .link {
        text-decoration: none;
      }

      .post-title {
        font-size: 1.5rem;
        color: #b78ec2;
        font-family: "Montserrat", sans-serif;

        &:hover {
          text-decoration: underline;
        }
      }

      .date {
        color: #a484ad;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .blog-posts {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .blog-posts {
    .posts-wrapper {
      .post {
        flex-direction: column;
        align-items: flex-start;

        .post-title {
          font-size: 1.3rem;
        }
      }
    }
  }
}
