@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

.post {
  width: 80%;
  margin: 50px auto;
  line-height: 1.6;
  font-size: 1rem;
  letter-spacing: 0.02em;

  .title {
    text-align: center;
  }
}

blockquote {
  font-size: 1em;
  font-family: "Open Sans";
  font-style: italic;
  padding: 0 10px;
  border-left: 2px solid #f1f1f1;
  line-height: 1.6;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
}
